<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Ingredients</title>
</head>
<body>
    <nav class="navbar">
        <ui class="horizontal">
            <li class="navTitle"><a href='/'>Cookbook Central</a></li>
            <li class="navElement"><a href='/recipes'>Recipes</a></li>
            <li class="navElement"><a href='/recipeIngredients'>Recipe Ingredients</a></li>
            <li class="navElement"><a href='/ingredients'>Ingredients</a></li>
            <li class="navElement"><a href='/savedRecipes'>Saved Recipes</a></li>
            <li class="navElement"><a href='/reviews'>Reviews</a></li>
            <li class="navElement"><a href='/users'>Users</a></li>
            <li class="navElement"><a href='/userFollowers'>User Followers</a></li>
        </ui>
    </nav>

    <h1>Ingredient</h1>
    <div class="container">
        <table>
            <tr>
                <th>Ingredient ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th><a class = 'add' href=/insert/Ingredients>Add</a></th>
                <th></th>
            </tr>
            {% for ingredient in ingredients %}
            <form method="POST" action="/edit/Ingredients">
            <tr>
                <td>{{ingredient['ingredientID']}}</td>
                <td>{{ingredient['name']}}</td>
                <td>{{ingredient['cost']}}</td>
                <td><button class='edit' name='editRow' type="submit" value="{{ingredient['ingredientID']}}">Edit</button></td>
                <td></td>
            </tr>
            </form>
            {% endfor%}
        </table>
    </div>
</body>
</html>
